<!DOCTYPE html>
<html>
	<head>
		<title>Cards</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'data_pages', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'data_pages', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
